In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objs as go
from plotly.subplots import make_subplots
import plotly.express as px

In [27]:
df=pd.read_csv('/content/drive/MyDrive/IPL/deliveries.csv')
df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

#### indepth Analysis of David Warner(Australian Batsman) Performance

In [28]:
filt=(df['batsman']=='DA Warner')
df_warner=df[filt]
df_warner.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [29]:
labels = df_warner['dismissal_kind'].value_counts().index.tolist()
values = df_warner['dismissal_kind'].value_counts().tolist()

fig = go.Figure(data=[go.Pie(labels=labels, values=values)])
fig.update_layout(
    title_text='Dismissal Kind Distribution for Warner', # Set the chart title
    title_x=0.5, # Set the chart title x-axis position
    font=dict(size=16), # Set the font size for the chart
    legend=dict(
        x=1.1, y=0.5, # Set the legend position
        bordercolor='black', # Set the border color for the legend
        borderwidth=1 # Set the border width for the legend
    )
)
fig.show()

#### total fours by da warner

In [30]:
len(df_warner[df_warner['batsman_runs']==4])

401

##### total 6s by da warner

In [31]:
len(df_warner[df_warner['batsman_runs']==6])

160

##### total runs made by DA warner

In [32]:
df_warner['total_runs'].sum()

4213

##### pie chart of Runs contribution of David Warner

In [33]:
def count(df,runs):
    return len(df_warner[df_warner['batsman_runs']==runs])*runs

In [34]:
count(df_warner,1)

997

In [35]:
count(df_warner,2)

414

In [36]:
count(df_warner,3)

39

In [37]:
count(df_warner,4)

1604

In [38]:
count(df_warner,6)

960

In [39]:
slices=[997,414,39,1604,960]
labels=[1,2,3,4,6]
explode=[0,0,0,0,0.1]

fig = px.pie(values=slices, names=labels, 
             labels={'names':'Contribution in runs', 'slices':'Number of innings'},
             title='DA Warner total runs contribution')
fig.update_traces(textposition='inside', textinfo='percent+label',
                  marker=dict(colors=['#636EFA', '#EF553B', '#00CC96', '#AB63FA', '#FFA15A'],
                              line=dict(color='#FFFFFF', width=2)))
fig.show()

In [40]:
df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [41]:
df['bowling_team'].unique()

array(['Royal Challengers Bangalore', 'Sunrisers Hyderabad',
       'Rising Pune Supergiant', 'Mumbai Indians',
       'Kolkata Knight Riders', 'Gujarat Lions', 'Kings XI Punjab',
       'Delhi Daredevils', 'Chennai Super Kings', 'Rajasthan Royals',
       'Deccan Chargers', 'Kochi Tuskers Kerala', 'Pune Warriors',
       'Rising Pune Supergiants'], dtype=object)

##### Replacing the Team Names with their abbreviations

In [42]:
Teams={
    'Royal Challengers Bangalore':'RCB', 
    'Sunrisers Hyderabad':'SRH',
       'Rising Pune Supergiant':'RPS',
    'Mumbai Indians':'MI',
       'Kolkata Knight Riders':'KKR', 
    'Gujarat Lions':'GL',
    'Kings XI Punjab':'KXIP',
       'Delhi Daredevils':'DD',
    'Chennai Super Kings':'CSK',
    'Rajasthan Royals':'RR',
       'Deccan Chargers':'DC',
    'Kochi Tuskers Kerala':'KTK',
    'Pune Warriors':'PW',
       'Rising Pune Supergiants':'RPS'
}

In [43]:
df['batting_team']=df['batting_team'].map(Teams)
df['bowling_team']=df['bowling_team'].map(Teams)

In [44]:
df.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,SRH,RCB,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,SRH,RCB,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,SRH,RCB,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,SRH,RCB,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,SRH,RCB,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [45]:
df.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

#### Score Distribution For Teams by Innings

In [46]:
runs=df.groupby(['match_id','inning','batting_team'])[['total_runs']].sum().reset_index()
runs.drop('match_id',axis=1,inplace=True)

In [47]:
runs.head()

   inning batting_team  total_runs
0       1          SRH         207
1       2          RCB         172
2       1           MI         184
3       2          RPS         187
4       1           GL         183

In [48]:
inning1=runs[runs['inning']==1]
inning2=runs[runs['inning']==2]

In [50]:
fig = px.box(inning1, x='batting_team', y='total_runs', points='all')
fig.show()

##### According to this plot, the batting by CSK & RCB seems best.

In [51]:
fig = px.box(inning2, x='batting_team', y='total_runs', points='all')
fig.show()

##### this figure also conveys the same story.in this, we see a point near 0 for RCB which may seem to be outlier. But it is on account of the match was disrupted.

##### how many times teams scores more than 200

In [52]:
high_scores=df.groupby(['match_id', 'inning','batting_team','bowling_team'])['total_runs'].sum().reset_index() 
high_scores

      match_id  inning batting_team bowling_team  total_runs
0            1       1          SRH          RCB         207
1            1       2          RCB          SRH         172
2            2       1           MI          RPS         184
3            2       2          RPS           MI         187
4            3       1           GL          KKR         183
...        ...     ...          ...          ...         ...
1279       634       2          KKR          SRH         140
1280       635       1           GL          SRH         162
1281       635       2          SRH           GL         163
1282       636       1          SRH          RCB         208
1283       636       2          RCB          SRH         200

[1284 rows x 5 columns]

In [53]:
score_200=high_scores[high_scores['total_runs']>=200]
score_200

      match_id  inning batting_team bowling_team  total_runs
0            1       1          SRH          RCB         207
16           9       1           DD          RPS         205
38          20       1          RCB           GL         213
62          32       1          SRH         KXIP         207
72          36       1          SRH          KKR         209
...        ...     ...          ...          ...         ...
1250       620       1          RCB           GL         248
1256       623       1           MI           DD         206
1262       626       1          RCB         KXIP         211
1282       636       1          SRH          RCB         208
1283       636       2          RCB          SRH         200

[67 rows x 5 columns]

In [54]:
fig = px.histogram(score_200, x='batting_team')
fig.update_layout(title='Number of 200+ scores by batting team')
fig.show()

In [56]:
fig = px.histogram(score_200, x='bowling_team')
fig.update_layout(title='Number of times team has conceeded 200+ runs')
fig.show()

##### 1st graph shows the number of times a team has scored above 200 runs. 2nd graph shows the number of times a bowling team has conceeded above 200 runs.

##### how many times team scores >200 runs against batting team

In [57]:
high_200=df.groupby(['match_id', 'inning','batting_team','bowling_team'])['total_runs'].sum().reset_index()
high_200.set_index(['match_id'],inplace=True)

In [58]:
high_200['total_runs'].max()

263

In [59]:
high_200.columns

Index(['inning', 'batting_team', 'bowling_team', 'total_runs'], dtype='object')

In [60]:
high_200.head()

          inning batting_team bowling_team  total_runs
match_id
1              1          SRH          RCB         207
1              2          RCB          SRH         172
2              1           MI          RPS         184
2              2          RPS           MI         187
3              1           GL          KKR         183

In [61]:
high=high_200.rename(columns={'total_runs':'count'})
high=high[high['count']>=200].groupby(['inning','batting_team','bowling_team']).count()
high

                                  count
inning batting_team bowling_team
1      CSK          DD                1
                    KKR               1
                    KXIP              2
                    MI                1
                    RCB               1
                    RR                1
                    SRH               2
       DC           RR                1
       DD           KXIP              1
                    MI                1
                    RPS               1
       GL           DD                1
       KKR          DC                1
                    KXIP              1
                    RCB               1
       KXIP         CSK               2
                    MI                1
                    RCB               2
                    RR                1
       MI           CSK               1
                    DD                4
                    RCB               1
                    RR                1
       RCB          CSK               1
                    DD                1
                    GL                2
                    KXIP              3
                    MI                1
                    PW                1
                    RR                1
                    SRH               1
       RR           CSK               1
                    DD                1
                    KXIP              1
       SRH          KKR               1
                    KXIP              2
                    RCB               2
                    RR                1
2      CSK          KXIP              1
                    RCB               1
                    RR                1
       DD           GL                1
       KKR          KXIP              1
       KXIP         CSK               2
                    DD                1
                    KKR               1
                    SRH               1
       MI           CSK               1
                    KXIP              1
       RCB          KXIP              1
                    SRH               1
       RR           CSK               1
                    DC                1
                    MI                1

##### Batsman Comparison

In [62]:
balls=df.groupby(['batsman'])['ball'].count().reset_index()
balls

            batsman  ball
0    A Ashish Reddy   196
1        A Chandila     7
2          A Chopra    75
3       A Choudhary    20
4        A Flintoff    57
..              ...   ...
456     YV Takawale   183
457   Yashpal Singh    67
458     Younis Khan     7
459    Yuvraj Singh  2050
460          Z Khan   141

[461 rows x 2 columns]

In [63]:
runs=df.groupby(['batsman'])['batsman_runs'].sum().reset_index()
runs.columns=['batsman','runs']
runs

###runs=df.groupby(['batsman'])['batsman_runs'].agg(sum).reset_index()

            batsman  runs
0    A Ashish Reddy   280
1        A Chandila     4
2          A Chopra    53
3       A Choudhary    25
4        A Flintoff    62
..              ...   ...
456     YV Takawale   192
457   Yashpal Singh    47
458     Younis Khan     3
459    Yuvraj Singh  2591
460          Z Khan   117

[461 rows x 2 columns]

In [64]:
df.groupby(['batsman'])['batsman_runs'].agg(sum)

batsman
A Ashish Reddy     280
A Chandila           4
A Chopra            53
A Choudhary         25
A Flintoff          62
                  ...
YV Takawale        192
Yashpal Singh       47
Younis Khan          3
Yuvraj Singh      2591
Z Khan             117
Name: batsman_runs, Length: 461, dtype: int64

In [65]:
balls=balls.merge(runs,left_on='batsman',right_on='batsman',how='outer')

In [66]:
four=df[df['batsman_runs']==4]

In [67]:
''' df.groupby('batsman')['batsman_runs'].agg(lambda x: (x==4).sum()).reset_index()'''

runs_4=four.groupby('batsman')['batsman_runs'].count().reset_index()
runs_4.columns=['batsman','4s']
runs_4

            batsman   4s
0    A Ashish Reddy   16
1          A Chopra    7
2       A Choudhary    1
3        A Flintoff    5
4          A Kumble    3
..              ...  ...
363       YK Pathan  240
364     YV Takawale   26
365   Yashpal Singh    5
366    Yuvraj Singh  205
367          Z Khan   11

[368 rows x 2 columns]

In [68]:
six=df.groupby('batsman')['batsman_runs'].agg(lambda x: (x==6).sum()).reset_index()
six.columns=['batsman','6s']
six

            batsman   6s
0    A Ashish Reddy   15
1        A Chandila    0
2          A Chopra    0
3       A Choudhary    1
4        A Flintoff    2
..              ...  ...
456     YV Takawale    3
457   Yashpal Singh    0
458     Younis Khan    0
459    Yuvraj Singh  141
460          Z Khan    2

[461 rows x 2 columns]

In [69]:
player=pd.concat([runs,balls.iloc[:,1],runs_4.iloc[:,1],six.iloc[:,1]],axis=1)
player

            batsman  runs  ball    4s   6s
0    A Ashish Reddy   280   196  16.0   15
1        A Chandila     4     7   7.0    0
2          A Chopra    53    75   1.0    0
3       A Choudhary    25    20   5.0    1
4        A Flintoff    62    57   3.0    2
..              ...   ...   ...   ...  ...
456     YV Takawale   192   183   NaN    3
457   Yashpal Singh    47    67   NaN    0
458     Younis Khan     3     7   NaN    0
459    Yuvraj Singh  2591  2050   NaN  141
460          Z Khan   117   141   NaN    2

[461 rows x 5 columns]

In [70]:
player['strike_rate']=player['runs']/player['ball']
player.head()

          batsman  runs  ball    4s  6s  strike_rate
0  A Ashish Reddy   280   196  16.0  15     1.428571
1      A Chandila     4     7   7.0   0     0.571429
2        A Chopra    53    75   1.0   0     0.706667
3     A Choudhary    25    20   5.0   1     1.250000
4      A Flintoff    62    57   3.0   2     1.087719

In [71]:
player.isna().sum()

batsman         0
runs            0
ball            0
4s             93
6s              0
strike_rate     0
dtype: int64

In [72]:
player['4s'].fillna(0,inplace=True)

In [73]:
player.isnull().values.any()

False

In [74]:
df.columns

Index(['match_id', 'inning', 'batting_team', 'bowling_team', 'over', 'ball',
       'batsman', 'non_striker', 'bowler', 'is_super_over', 'wide_runs',
       'bye_runs', 'legbye_runs', 'noball_runs', 'penalty_runs',
       'batsman_runs', 'extra_runs', 'total_runs', 'player_dismissed',
       'dismissal_kind', 'fielder'],
      dtype='object')

In [75]:
grp=df.groupby(['match_id','batsman','batting_team'])['batsman_runs'].sum().reset_index()
grp

      match_id       batsman batting_team  batsman_runs
0            1   A Choudhary          RCB             6
1            1   BCJ Cutting          SRH            16
2            1      CH Gayle          RCB            32
3            1     DA Warner          SRH            14
4            1      DJ Hooda          SRH            16
...        ...           ...          ...           ...
9510       636     SR Watson          RCB            11
9511       636     STR Binny          RCB             9
9512       636   Sachin Baby          RCB            18
9513       636       V Kohli          RCB            54
9514       636  Yuvraj Singh          SRH            38

[9515 rows x 4 columns]

In [76]:
max=grp.groupby(['batsman'])['batsman_runs'].max().reset_index()
max.columns=['batsman','max_runs']
max

            batsman  max_runs
0    A Ashish Reddy        36
1        A Chandila         4
2          A Chopra        24
3       A Choudhary        15
4        A Flintoff        24
..              ...       ...
456     YV Takawale        45
457   Yashpal Singh        20
458     Younis Khan         3
459    Yuvraj Singh        83
460          Z Khan        23

[461 rows x 2 columns]

In [77]:
player2=pd.concat([player,max.iloc[:,1:3]],axis=1)
player2

            batsman  runs  ball    4s   6s  strike_rate  max_runs
0    A Ashish Reddy   280   196  16.0   15     1.428571        36
1        A Chandila     4     7   7.0    0     0.571429         4
2          A Chopra    53    75   1.0    0     0.706667        24
3       A Choudhary    25    20   5.0    1     1.250000        15
4        A Flintoff    62    57   3.0    2     1.087719        24
..              ...   ...   ...   ...  ...          ...       ...
456     YV Takawale   192   183   0.0    3     1.049180        45
457   Yashpal Singh    47    67   0.0    0     0.701493        20
458     Younis Khan     3     7   0.0    0     0.428571         3
459    Yuvraj Singh  2591  2050   0.0  141     1.263902        83
460          Z Khan   117   141   0.0    2     0.829787        23

[461 rows x 7 columns]

In [78]:
player2.shape

(461, 7)

#### Top 10 Batsman

In [80]:
max_runs = df.groupby(['batsman'])['batsman_runs'].sum()
max_runs = max_runs.sort_values(ascending=False)[:10]

fig = go.Figure([go.Bar(x=max_runs.index, y=max_runs.values)])
fig.update_layout(title='Top 10 Batsmen by Runs Scored', xaxis_title='Batsmen', yaxis_title='Total Runs')
fig.show()

#### SK Raina has highest total runs across all seasons Whereas Virat Kohliis just few runs behind with the second spot

#### Top Individual Scores

In [81]:
df.groupby(["match_id","batsman",'batting_team'])["batsman_runs"].sum().reset_index().sort_values(by='batsman_runs', ascending=False).head(10)

      match_id         batsman batting_team  batsman_runs
6200       411        CH Gayle          RCB           175
900         60     BB McCullum          KKR           158
8426       562  AB de Villiers          RCB           133
9257       620  AB de Villiers          RCB           129
5585       372        CH Gayle          RCB           128
3135       206         M Vijay          CSK           127
529         36       DA Warner          SRH           126
7752       516        V Sehwag         KXIP           122
3686       243     PC Valthaty         KXIP           120
4223       279        V Sehwag           DD           119

#### Not only Gayle but there are many RCB players on the top scores list. Looks like RCB is a very formidable batting side.

##### Highest Wicket Taker

In [82]:
df['dismissal_kind'].unique()

array([nan, 'caught', 'bowled', 'run out', 'lbw', 'caught and bowled',
       'stumped', 'retired hurt', 'hit wicket', 'obstructing the field'],
      dtype=object)

In [83]:
dismissal_kinds = ['caught', 'bowled', 'lbw', 'caught and bowled',
       'stumped', 'hit wicket']

In [84]:
hwt=df[df["dismissal_kind"].isin(dismissal_kinds)]
hwt.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
11,1,1,SRH,RCB,2,5,DA Warner,S Dhawan,A Choudhary,0,...,0,0,0,0,0,0,0,DA Warner,caught,Mandeep Singh
64,1,1,SRH,RCB,11,3,S Dhawan,MC Henriques,STR Binny,0,...,0,0,0,0,0,0,0,S Dhawan,caught,Sachin Baby
94,1,1,SRH,RCB,16,2,MC Henriques,Yuvraj Singh,YS Chahal,0,...,0,0,0,0,0,0,0,MC Henriques,caught,Sachin Baby
116,1,1,SRH,RCB,19,4,Yuvraj Singh,DJ Hooda,TS Mills,0,...,0,0,0,0,0,0,0,Yuvraj Singh,bowled,NaN
160,1,2,RCB,SRH,6,4,Mandeep Singh,CH Gayle,Rashid Khan,0,...,0,0,0,0,0,0,0,Mandeep Singh,bowled,NaN

In [86]:
top_bowlers = hwt['bowler'].value_counts()[:10]

fig = go.Figure(go.Bar(
            x=top_bowlers.values,
            y=top_bowlers.index,
            orientation='h'))

fig.update_layout(title="Top 10 bowlers with most 'Player of the Match' awards",
                  xaxis_title="Number of awards",
                  yaxis_title="Bowler")

fig.show()

##### Lasith Malinga leads the chart,